<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li ><a href="#">{{action}}</a></li>
            <li><a href="#" class="active">Rules</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
</nav>


<div class="" id="container1" style="margin-top: 10%; margin-left: 2%">
    <ul class="list-unstylx`ed rule-list">
        <li>The game starts with seven cards being dealt to each player.<br></li>
        <li>The remaining cards are placed on the table in a pile, with the top card turned over to start a second pile.<br></li>
        <li>The player to the left of the dealer goes first, with the aim to
            lay down one of his or her cards on top of the <br>  upturned card.To do this the card must be either a color, number or symbol match.<br></li>
        <li>If the player does not have a card to match color, number or symbol, they must pick up an additional card from the <br>downturned pile.<br>

        </li>
        <li>
            Players also have the option to play wild cards at any time.<br> The straight wild card allows a player to set the color required of
            the next player.<br> The wild draw four requires the next player to pick up four cards for the pile.<br>
        </li>
        <li>Skip' cards lead to the next player missing a turn, while 'draw two' cards require that they pick up two cards and<br> 'reverse' cards change the direction of the game.<br></li>
        <li>The game ends when a player has discarded all of their cards.<br> When a player has one card remaining they must call 'Uno' immediately to alert the other players of their status.<br></li>
    </ul>
</div>
<script>
    var body = document.getElementsByTagName('body');
    $(body).addClass("bg-image-rule");
</script>